<!DOCTYPE HTML>

<html>
<head>
    <title>Genderbox</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="assets/css/index.css">

</head>
<body>
<div class="center">
    <div class="title">
    <h1>Hi, try out the new verge of cycling</h1><br/>
    </div>
    <div class="button-div">
        <button class="button" onclick="location.href = '/signup';">Signup</button>
        <button class="button" onclick="location.href = '/login';">Login</button>
        <button class="button" onclick="location.href = '/profile';">Profile</button>
    </div>
</div>
</body>
</html>