<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Genderbox</title>
    <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
        <!--<script src="assets/js/jquery.rss.min.js"></script>-->
    <link rel="stylesheet" href="assets/css/profile.css">

</head>
<!--<script>-->
    <!--jQuery(function($) {-->
        <!--$("#rss-feeds").rss("http://www.iup.edu/rss.aspx?pageid=232831",-->
            <!--{-->
                <!--entryTemplate:'<li><a href="{url}">[{author}@{date}] {title}</a><br/>{teaserImage}{shortBodyPlain}</li>',-->
                <!--limit: 10,-->
            <!--})-->
    <!--})-->
<!--</script>-->
<style>
    #avatar {

        height: 200px;
        width: 50%;
    }
    img {
        max-width: 100%;
        max-height: 100%;
    }


</style>
<body>

<br>
<div style="position:relative;top:0px;right:0px">
    <span id="name"></span>
    <br/><br/><br/>
</div>
</br>

</br>

<form action="/upload" method="POST" enctype="multipart/form-data">

        <div id="avatar">

        </div>
<br>
    Select an image to upload:
    <input type="file" name="avatar">
    <input type="submit" value="Upload Image">
</form>

<div>
    <p><%-gender%></p>
</div>


<div id="rss-feeds" style="position:absolute;top:0px;left:600px"></div>
<br>
<br>
<form>
    <fieldset style="width: 300px">
        <legend>Specify your interests</legend>
        <input type="checkbox"> Sport <br>
        <input type="checkbox"> People <br>
        <input type="checkbox"> Politics <br>
        <input type="checkbox"> Environment <br>
        <input type="checkbox"> Business <br>
        <input type="submit" value="Submit">
    </fieldset>
</form>
</body>
<script>
    function getCookie(name) {
        var matches = document.cookie.match(new RegExp(
            "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
        ));
        return matches ? decodeURIComponent(matches[1]) : undefined;
    }
    var username = getCookie('username');
    var s = document.getElementById('name');
    var div = document.getElementById( 'avatar' );
    div.insertAdjacentHTML( 'beforeend', "<%- avatar %>" );
    s.textContent = 'Hello, ' + username;

</script>
</html>